
@{
    ViewBag.Title = "Thêm sản phẩm";
}

@model NerahomeWeb.Models.Menu
<div class="container">


    @using (Html.BeginForm("Index", "Menu", FormMethod.Post))
    {
        <form>
            Mã id:<br>
            <input type="text" name="id" value="">
            <br>
            Tện sản phẩm hoặc dịch vụ<br>
            <input type="text" name="name" value="">
            <br>

            item_type:<br>

            <select name="sp_dv" id="">
                <option value="">Chọn Phương thức thêm</option>
                <option value="DV">Dịch vụ  </option>
                <option value="SP">Sản phẩm</option>

            </select>
            <br>
            Miêu tả:<br>
            <input type="text" ="Enable" name="desc" value="">
            <br>
            Thêm keywords:<br>
            <input type="text" ="Enable" name="key" value="">
            <br><br>
            <input type="submit" value="thêm">
            @*<input type="submit" value="Sửa">
            <input type="submit" value="Xóa">*@
        </form>
    }

    <div>
        @ViewBag.success
    </div>
   
</div>
<div>
@Html.ActionLink("Back to List", "Hienthi")
</div>

