<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>NeraHome</title>
    <!-- Web Fonts -->
    
    <link href="~/Media/images/client_org1_x0Z_icon.ico" rel="shortcut icon" />
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,500,400italic,700,700italic,900,900italic,500italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <!-- Flaticon CSS -->
    <link href="~/Content/css/animate.css" rel="stylesheet" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.1.0/css/flag-icon.css">
    <link href="~/Content/fonts/flaticon/flaticon.css" rel="stylesheet" />
    <!-- font-awesome CSS -->
    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet">
    <!-- Offcanvas CSS -->
    <link href="~/Content/css/off-canvas.css" rel="stylesheet">
    <!-- animate CSS -->
    <link href="~/Content/css/animate.css" rel="stylesheet">
    <!-- language CSS -->
    <link href="~/Content/css/language-select.css" rel="stylesheet">
    <!-- owl.carousel CSS -->
    <link href="~/Content/css/owl.carousel.css" rel="stylesheet" />

    <!-- magnific-popup -->
    <link href="~/Content/css/magnific-popup.css" rel="stylesheet">
    <!-- Bootstrap Core CSS -->
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet">
    <!-- Template Core Styles -->
    <link href="~/Content/css/template.css" rel="stylesheet">
    <!-- Main Menu Styles -->
    <link href="~/Content/css/menu.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="~/Content/css/style.css" rel="stylesheet">
    <!-- Responsive CSS -->

    <link href="~/Content/css/responsive.css" rel="stylesheet">

    <script src="~/Scripts/js/vendor/modernizr-2.8.1.min.js"></script>
    <!-- HTML5 Shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via  -->
    <!--[if lt IE 9]>
        <script src="js/vendor/html5shim.js"></script>
        <script src="js/vendor/respond.min.js"></script>
    <![endif]-->
</head>


<body id="page-top">
    <div id="st-container" class="st-container">
        <div class="st-pusher">
            <div class="st-content">
                <header class="header">
                    <nav class="top-bar">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-3 col-xs-12">
                                    <div class="call-to-action">
                                        <h1>
                                            NeraHome
                                        </h1>
                                    </div><!-- /.call-to-action -->
                                </div><!-- /.col-sm-6 -->

                                <div class="col-sm-6 col-xs-12">
                                    <div class="logo text-center">
                                        <h1>
                                            <a href="index.html">
                                                <span>
                                                    Khẩu hiệu website
                                                </span>
                                            </a>
                                        </h1>
                                    </div>
                                </div>

                                <div class="col-sm-3 hidden-xs">
                                    <div class="topbar-right">
                                        <div class="lang-support pull-right">
                                            <select class="lang-select">
                                                <option value="" disabled selected>Language</option>
                                                <option value="united-kingdom" data-class="flag-uk">English</option>
                                                <option value="france" data-class="flag-france">French</option>
                                                <option value="spain" data-class="flag-spain">Spanish</option>
                                                <option value="bangladesh" data-class="flag-bd">Bengali</option>
                                            </select>
                                        </div>

                                        <div>
                                            <a href="#">
                                                <i class="fa fa-user" aria-hidden="true" style="color: #000;font-size: 28px; float: right;"></i>
                                            </a>
                                        </div>
                                    </div><!-- /.social-links -->
                                </div><!-- /.col-sm-6 -->
                            </div><!-- /.row -->
                        </div><!-- /.container -->
                    </nav><!-- /.top-bar -->

                    <div class="container mainnav">

                        <div class="navbar-header">

                            <div id="search">
                                <button type="button" class="close">×</button>
                                <form>
                                    <input type="search" value="" placeholder="type keyword(s) here" />
                                    <button type="submit" class="btn btn-primary btn-lg">Tìm kiếm</button>
                                </form>
                            </div>
                        </div>
                        <nav class="navbar navbar-default" role="navigation" >
                            <span  class="search-button visible-xs"><a href="#search"><i class="fa fa-search"></i></a></span>


                            <button type="button" class="navbar-toggle collapsed">
                                <span class="sr-only">Toggle navigation</span>
                                <i class="fa fa-bars"></i>
                            </button>


                            <div class="collapse navbar-collapse navbar-collapse">

                                <span class="search-button pull-right" style="display:none;"><a href="#search"><i class="fa fa-search"></i></a></span>

                                <ul class="nav navbar-nav hidden-sm">
                                    <li class="active"><a href="index.html">Giới thiệu</a></li>
                                    <li class="dropdown">
                                        <a href="#">Dự án <b class="caret"></b></a>
                                        <!-- submenu-wrapper -->
                                        <div class="submenu-wrapper submenu-wrapper-topbottom">
                                            <div class="submenu-inner  submenu-inner-topbottom">
                                                <ul class="dropdown-menu">
                                                    <li><a href="#">Dự án 1</a></li>
                                                    <li><a href="#">Dự án 2</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <!-- /submenu-wrapper -->
                                    </li>

                                    <!-- Services -->
                                    <li class="dropdown">
                                        <a href="#">Dịch vụ <b class="caret"></b></a>
                                        <!-- submenu-wrapper -->
                                        <div class="submenu-wrapper submenu-wrapper-topbottom">
                                            <div class="submenu-inner  submenu-inner-topbottom">
                                                <ul class="dropdown-menu">
                                                    <li><a href="#">Dịch vụ 1</a></li>
                                                    <li><a href="#">Dịch vụ 2</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <!-- /submenu-wrapper -->
                                    </li>
                                    <!-- /Services -->
                                    <!-- Blog -->
                                    <li><a href="#">Tiện ích</a> </li>
                                    <!-- /Blog -->
                                    <li><a href="#">Sự kiện</a></li>
                                    <li><a href="#">Tin tức </a></li>
                                    <li><a href="#">Nhà đầu tư </a></li>
                                    <li><a href="#">Tuyển dụng</a></li>
                                </ul>
                            </div><!-- /.navbar-collapse -->

                        </nav>
                    </div><!-- /.container -->
                </header>
                @RenderBody()

                @*<div id="main-carousel" class="carousel slide hero-slide" data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#main-carousel" data-slide-to="0" class="active"></li>
                            <li data-target="#main-carousel" data-slide-to="1"></li>
                        </ol>

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner" role="listbox">
                            <div class="item active">
                                <img src="img/slider/slide-1.png" alt="Hero Slide">
                                <!--Slide Image-->

                                <div class="container">
                                    <div class="carousel-caption">
                                        <small class="animated fadeIn">Gọi cho chúng tôi</small>
                                        <div class="phone animated lightSpeedIn">+8498888888</div>
                                        <h1 class="animated lightSpeedIn">Tên dự án </h1>

                                        <p class="lead animated lightSpeedIn">Thông tin về dự án</p>

                                        <a class="btn btn-primary btn-lg animated lightSpeedIn" href="#">làm việc với chúng tôi</a>
                                    </div>
                                    <!--.carousel-caption-->
                                </div>
                                <!--.container-->
                            </div>
                            <!--.item-->

                            <div class="item">
                                <img src="img/slider/slide-2.jpg" alt="Hero Slide">
                                <!--Slide Image-->

                                <div class="container">
                                    <div class="carousel-caption">
                                        <small class="animated fadeIn">Gọi cho chúng tôi</small>
                                        <div class="phone animated lightSpeedIn">+8498888888</div>
                                        <h1 class="animated lightSpeedIn">Tên dự án </h1>

                                        <p class="lead animated lightSpeedIn">Thông tin về dự án</p>

                                        <a class="btn btn-primary btn-lg animated lightSpeedIn" href="#">làm việc với chúng tôi</a>
                                    </div>
                                    <!--.carousel-caption-->
                                </div>
                                <!--.container-->
                            </div>
                            <!--.item-->
                        </div>
                        <!--.carousel-inner-->
                        <!-- Controls -->
                        <a class="left carousel-control" href="#main-carousel" role="button" data-slide="prev">
                            <i class="fa fa-angle-left" aria-hidden="true"></i>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#main-carousel" role="button" data-slide="next">
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                    <!-- #main-carousel-->
                    <!-- services start -->
                    <section class="service-wrap">

                        <!-- Controls will work for desktop and large devices -->
                        <div class="slider-control hidden-sm hidden-xs">
                            <a class="left carousel-control" href="#service-carousel" role="button" data-slide="prev">
                                <span class="flaticon-previous11" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="right carousel-control" href="#service-carousel" role="button" data-slide="next">
                                <span class="flaticon-next15" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div><!--/.slider-control -->


                    </section>
                    <!-- services end -->
                    <!-- portfolio-section start -->
                    <section class="fleets-wrap">
                        <div class="container">
                            <div class="section-heading">
                                <h2 class="section-title">Một số dự án của chúng tôi</h2>
                            </div> <!--section-heading-->
                        </div><!--/.container-->

                        <div class="container-fluid">
                            <div class="no-padding">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="owl-carousel fleet-carousel">
                                            <div class="item">
                                                <div class="owl-item-thumb">
                                                    <img src="img/fleet/p1.png" alt="">
                                                    <div class="owl-item-overlay"></div>
                                                    <a class="img-link" href="img/fleet/p1.png"><img src="img/zoomin.png" alt="+" /></a>
                                                </div><!-- owl-item-thumb -->
                                                <div class="owl-tem-content">
                                                    <h3><a href="#">Dự án 1</a></h3>
                                                    <p>Thông tin dự án 1</p>
                                                </div><!-- owl-item-content -->
                                            </div><!-- /item -->

                                            <div class="item">
                                                <div class="owl-item-thumb">
                                                    <img src="img/fleet/p2.png" alt="">
                                                    <div class="owl-item-overlay"></div>
                                                    <a class="img-link" href="img/fleet/p2.png"><img src="img/zoomin.png" alt="+" /></a>
                                                </div><!-- owl-item-thumb -->
                                                <div class="owl-tem-content">
                                                    <h3><a href="#">Dự án 1</a></h3>
                                                    <p>Thông tin dự án 1</p>
                                                </div><!-- owl-item-content -->
                                            </div><!-- /item -->

                                            <div class="item">
                                                <div class="owl-item-thumb">
                                                    <img src="img/fleet/p3.png" alt="">
                                                    <div class="owl-item-overlay"></div>
                                                    <a class="img-link" href="img/fleet/p3.png"><img src="img/zoomin.png" alt="+" /></a>
                                                </div><!-- owl-item-thumb -->
                                                <div class="owl-tem-content">
                                                    <h3><a href="#">Dự án 1</a></h3>
                                                    <p>Thông tin dự án 1</p>
                                                </div><!-- owl-item-content -->
                                            </div><!-- /item -->

                                            <div class="item">
                                                <div class="owl-item-thumb">
                                                    <img src="img/fleet/p4.png" alt="">
                                                    <div class="owl-item-overlay"></div>
                                                    <a class="img-link" href="img/fleet/p3.png"><img src="img/zoomin.png" alt="+" /></a>
                                                </div><!-- owl-item-thumb -->
                                                <div class="owl-tem-content">
                                                    <h3><a href="#">Dự án 1</a></h3>
                                                    <p>Thông tin dự án 1</p>
                                                </div><!-- owl-item-content -->
                                            </div><!-- /item -->

                                            <div class="item">
                                                <div class="owl-item-thumb">
                                                    <img src="img/fleet/p1.png" alt="">
                                                    <div class="owl-item-overlay"></div>
                                                    <a class="img-link" href="img/fleet/p1.png"><img src="img/zoomin.png" alt="+" /></a>
                                                </div><!-- owl-item-thumb -->
                                                <div class="owl-tem-content">
                                                    <h3><a href="#">Dự án 1</a></h3>
                                                    <p>Thông tin dự án 1</p>
                                                </div><!-- owl-item-content -->
                                            </div><!-- /item -->

                                            <div class="item">
                                                <div class="owl-item-thumb">
                                                    <img src="img/fleet/p2.png" alt="">
                                                    <div class="owl-item-overlay"></div>
                                                    <a class="img-link" href="img/fleet/p2.png"><img src="img/zoomin.png" alt="+" /></a>
                                                </div><!-- owl-item-thumb -->
                                                <div class="owl-tem-content">
                                                    <h3><a href="#">Dự án 1</a></h3>
                                                    <p>Thông tin dự án 1</p>
                                                </div><!-- owl-item-content -->
                                            </div><!-- /item -->

                                            <div class="item">
                                                <div class="owl-item-thumb">
                                                    <img src="img/fleet/p3.png" alt="">
                                                    <div class="owl-item-overlay"></div>
                                                    <a class="img-link" href="img/fleet/p3.png"><img src="img/zoomin.png" alt="+" /></a>
                                                </div><!-- owl-item-thumb -->
                                                <div class="owl-tem-content">
                                                    <h3><a href="#">Dự án 1</a></h3>
                                                    <p>Thông tin dự án 1</p>
                                                </div><!-- owl-item-content -->
                                            </div><!-- /item -->
                                            <div class="item">
                                                <div class="owl-item-thumb">
                                                    <img src="img/fleet/p4.png" alt="">
                                                    <div class="owl-item-overlay"></div>
                                                    <a class="img-link" href="img/fleet/p3.png"><img src="img/zoomin.png" alt="+" /></a>
                                                </div><!-- owl-item-thumb -->
                                                <div class="owl-tem-content">
                                                    <h3><a href="#">Dự án 1</a></h3>
                                                    <p>Thông tin dự án 1</p>
                                                </div><!-- owl-item-content -->
                                            </div><!-- /item -->

                                        </div><!--/.owl-carousel-->
                                        <!-- owl-carousel-control -->
                                        <div class="fleet-carousel-navigation
                                                slider-control">
                                            <span class="prev left"><i class="flaticon-previous11"></i></span>
                                            <span class="next right"><i class="flaticon-next15"></i></span>
                                        </div>

                                    </div><!-- /.col-md-12 -->

                                </div><!-- /.row -->
                            </div><!--/.no-padding-->
                        </div><!-- /.container-fluid -->
                    </section>
                    <!-- fleets-wrap end -->
                    <!-- Testimonial-wrap start -->
                    <section class="testimonial-wrap">
                        <div class="container">
                            <div class="section-heading">
                                <h2 class="section-title">Thông tin</h2>
                            </div> <!--section-heading-->
                        </div>

                        <!-- testimonial-carousel-slider -->
                        <div id="Carousel" class="carousel slide carousel-fade">

                            <div class="carousel-inner">
                                <div class="item active">
                                    <div class="media">
                                        <div class="media-left">
                                            <div class="item-left-thumb">
                                                <img class="img-responsive" src="img/client/client1.png" alt="client">

                                                <div class="author-info row row-flex row-flex-wrap">
                                                    <div class="col-xs-7">
                                                        <div class="author-name">
                                                            <span>Dự án</span>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div><!-- /.col -->

                                        <div class="media-body">
                                            <div class="item-right-text">
                                                Một số thông tin về dự án NeraHome
                                            </div>
                                        </div><!-- /.col -->
                                    </div><!-- /.row -->

                                </div><!-- /item -->

                                <div class="item">
                                    <div class="media">
                                        <div class="media-left">
                                            <div class="item-left-thumb">
                                                <img class="img-responsive" src="img/client/client2.png" alt="client">

                                                <div class="author-info row row-flex row-flex-wrap">
                                                    <div class="col-xs-7">
                                                        <div class="author-name">
                                                            <span>Dự án</span>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div><!-- /.col -->

                                        <div class="media-body">
                                            <div class="item-right-text">
                                                Một số thông tin về dự án NeraHome
                                            </div>
                                        </div><!-- /.col -->
                                    </div><!-- /.row -->

                                </div><!-- /item -->

                            </div><!-- /carousel-inner -->

                        </div><!-- /.carousel -->
                        <!-- carousel-controls -->
                        <div class="slider-control">
                            <a class="left carousel-control" href="#Carousel" data-slide="prev">
                                <span class="flaticon-previous11"></span>
                            </a>
                            <a class="right carousel-control" href="#Carousel" data-slide="next">
                                <span class="flaticon-next15"></span>
                            </a>
                        </div>

                    </section>*@
                <!-- Testimonial-wrap end -->
                <!-- footer-widget-section start -->
                <section class="footer-widget-section">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="footer-widget">
                                    <h3>Về chúng tôi</h3>
                                    <p>
                                        Thông tin
                                    </p>
                                    <br>

                                    <address>
                                        <strong>+8495996555</strong>
                                        <br>
                                        <a href="#">email@gmail.com</a>
                                        <br>
                                        <br>
                                        <span class="map-marker">Địa chỉ <br> 23 Cầu giấy Hà nội</span>
                                    </address>


                                </div><!-- /.footer-widget -->
                            </div><!-- /.col-sm-4 -->

                            <div class="col-sm-4">
                                <div class="footer-widget">
                                    <h3>Thông tin</h3>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <ul class="quick-links">
                                                <li><a href="about.html">Trang chủ</a></li>
                                                <li><a href="blog.html">Giới thiệu</a></li>
                                                <li><a href="contact.html">Tin tức</a></li>
                                                <li><a href="#">Tuyển dụng</a></li>
                                                <li><a href="#">Liên hệ</a></li>

                                            </ul>
                                        </div>

                                    </div>
                                </div><!-- /.footer-widget -->
                            </div><!-- /.col-md-4 -->

                            <div class="col-sm-4">
                                <div class="footer-widget">
                                    <h3>Để lại thông tin của bạn</h3>
                                    <p>Nhập địa chỉ Email của bạn để nhận thông tin từ chúng tôi</p>

                                    <form class="newsletter-form">
                                        <div class="form-group">
                                            <label class="sr-only" for="InputEmail1">Địa chỉ Email</label>
                                            <input type="email" class="form-control" id="InputEmail1" placeholder="Email của bạn">
                                            <button type="submit" class="btn">Gửi &nbsp;<i class="fa fa-angle-right"></i></button>
                                        </div>
                                    </form>
                                    <ul class="social-links list-inline">
                                        <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a class="google-plus" href="#"><i class="fa fa-google-plus"></i></a></li>
                                        <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
                                    </ul>
                                </div><!-- /.footer-widget -->
                            </div><!-- /.col-md-4 -->
                        </div><!-- /.row -->
                    </div><!-- /.container -->
                </section><!-- /.cta-section -->
                <!-- footer-widget-section end -->


            </div> <!-- .st-content -->
        </div> <!-- .st-pusher -->
        <!-- OFFCANVAS MENU -->
        <div class="offcanvas-menu offcanvas-effect">
            <div class="offcanvas-wrap">
                <div class="off-canvas-header">
                    <button type="button" class="close" aria-hidden="true" data-toggle="offcanvas" id="off-canvas-close-btn">&times;</button>
                </div>
                <ul id="offcanvasMenu" class="list-unstyled visible-xs visible-sm">
                    <li class="active"><a href="index.html">Giới thiệu<span class="sr-only">(current)</span></a></li>
                    <li><a href="about.html">Dự án</a></li>
                    <li><a href="#">Dịch vụ</a></li>
                    <li><a href="contact.html">Tiện ích</a></li>
                    <li><a href="typography.html">Sự kiện</a></li>
                    <li><a href="contact.html">Tin tức</a></li>
                    <li><a href="typography.html">Nhà đầu tư</a></li>
                    <li><a href="contact.html">Tuyển dụng</a></li>

                </ul>
                <div class="offcanvas-widgets hidden-sm hidden-xs">

                    <div class="newsletter-widget">
                        <h2>Để lại thông tin của bạn</h2>
                        <p>Nhập địa chỉ Email của bạn để nhận thông tin từ chúng tôi</p>

                        <form class="newsletter-form">
                            <div class="form-group">
                                <label class="sr-only" for="InputEmail1">Địa chỉ Email</label>
                                <input type="email" class="form-control" id="InputEmail2" placeholder="Email của bạn">
                                <button type="submit" class="btn">Gửi &nbsp;<i class="fa fa-angle-right"></i></button>
                            </div>
                        </form>

                    </div>

                </div>
            </div><!-- .offcanvas-menu -->
        </div><!-- /st-container -->
        <!-- Preloader -->
        <div id="preloader">
            <div id="status">
                <div class="status-mes"></div>
            </div>
        </div>

    </div>

    <script src="~/Scripts/js/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="~/Scripts/js/bootstrap.min.js"></script>
    <!-- Scrolling Nav JavaScript -->
    <script src="~/Scripts/js/jquery.easing.min.js"></script>

    <!-- owl.carousel -->
    <script src="~/Scripts/js/owl.carousel.min.js"></script>

    <!-- Magnific-popup -->
    <script src="~/Scripts/js/jquery.magnific-popup.min.js"></script>
    <!-- Offcanvas Menu -->
    <script src="~/Scripts/js/hippo-offcanvas.js"></script>
    <!-- stellar -->
    <script src="~/Scripts/js/jquery.stellar.js"></script>
    <!-- classie -->
    <script src="~/Scripts/js/classie.js"></script>
    <!-- sticky kit -->
    <script src="~/Scripts/js/jquery.sticky-kit.min.js"></script>
    <!-- language select -->
    <script src="~/Scripts/js/selectFx.js"></script>
    <!-- Twitter feed -->
    <script src="~/Scripts/js/twitterFetcher_min.js"></script>
    <!-- Youtube Video-player -->
    <script src="~/Scripts/js/jquery.mb.YTPlayer.js"></script>
    <!-- Custom Script -->
    <script src="~/Scripts/js/scripts.js"></script>

</body>
</html>
